{% block body %}
<img style="height:9.5%;width:15%" src="{{ url_for('static',filename='images/spirit.png')}}">

<center>
  <img style="height:10%;width:10%" src="{{ url_for('static',filename='images/yayy.png')}}">

  <h1>Thank you for believing in SPIRIT! We are truly thankful and blessed to have your support.<br>
  You are eligible to receive the airdrop! ;)</h1>

  <h2>Your wallet is eligible to receive an FNFT with 100 $SPIRIT!</h2>

  <a href="https://nftgarage.world/fnft/inspirit"><button>Claim Your Free FNFT</button></a>
</center>

{% endblock %}
