{% block body %}
<img style="height:9.5%;width:15%" src="{{ url_for('static',filename='images/spirit.png')}}">

<center>
  <img style="height:10%;width:10%" src="{{ url_for('static',filename='images/oops.jpeg')}}">
  <h1>Sorry, but it looks like you aren't eligible to claim any funds.<br/> If you think this is a mistake, try <a href="https://spirit-claim.herokuapp.com">searching again</a> and make sure to check if you have entered the right wallet address.</h1>
  <h2>If you still think this is a mistake, please DM one of the mods on the SpiritSwap Discord server!</h2>
  

</center>

{% endblock %}
