{% block body %}
<img style="height:9.5%;width:15%" src="{{ url_for('static',filename='images/spirit.png')}}">
<img style="height:10%;width:10%" src="{{ url_for('static',filename='images/yel.png')}}">

<center>
  <img style="height:10%;width:10%" src="{{ url_for('static',filename='images/oops.jpeg')}}">
  <h1>Sorry, but we couldn't find anyone with the given address.<br/> Try <a href="https://spirit-airdrop.herokuapp.com">searching again</a> and check if you have entered the right wallet address.</h1>

</center>

{% endblock %}
