{% block body %}
<img style="height:9.5%;width:15%" src="{{ url_for('static',filename='images/spirit.png')}}">

<center>
  <img style="height:10%;width:10%" src="{{ url_for('static',filename='images/oops.jpeg')}}">
  <h1>Sorry, but it looks like you aren't eligible for the airdrop.<br/> Try <a href="https://spirit-anniversary.herokuapp.com">searching again</a> and check if you have entered the right wallet address.</h1>
  <h2>Everyone who locked their SPIRIT for inSPIRIT on the day we took a snapshot is eligible for claiming the FNFT!</h2>
  

</center>

{% endblock %}
